<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
					    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.blogweb.dto.User" alias="User" />
		<typeAlias type="com.blogweb.dto.Board" alias="Board" />
		<typeAlias type="com.blogweb.dto.BoardAttach" alias="BoardAttach" />
	</typeAliases>
	<mappers>
		<mapper resource="com/blogweb/mapper/AccountMapper.xml" />
		<mapper resource="com/blogweb/mapper/BoardMapper.xml" />
		<mapper resource="com/blogweb/mapper/MypageMapper.xml" />
	</mappers>
</configuration>