<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blogweb.mapper.BoardMapper">

	<resultMap type="Board" id="boardResultMap">
		<id column="board_no" property="boardNo" />
		<result column="title" property="title" />
		<result column="writer" property="writer" />
		<result column="content" property="content" />
		<result column="thumbnail" property="thumbnail" />
		<result column="regdate" property="regdate" />
		<result column="deleted" property="deleted" />
		<result column="name" property="name"/>
	</resultMap>
	<resultMap type="BoardAttach" id="boardAttachResultMap">
		<id column="attach_no" property="attachNo" />
		<result column="board_no" property="boardNo" />
		<result column="userfilename" property="userFileName" />
		<result column="savedfilename" property="savedFileName" />
	</resultMap>

	<insert id="insertBoard" parameterType="Board">
		<selectKey keyProperty="boardNo" resultType="int"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO board (title,
		writer, content, thumbnail)
		VALUES (#{title},
		#{writer},
		#{content},
		#{thumbnail})
	</insert>
	<insert id="insertBoardAttach" parameterType="BoardAttach">
		INSERT boardattach
		(board_no, userfilename, savedfilename)
		VALUES (#{boardNo},
		#{userFileName}, #{savedFileName})
	</insert>
	<select id="findAllBoard" resultMap="boardResultMap">
		SELECT *FROM board WHERE deleted = false ORDER BY
		board_no DESC;
	</select>
	<select id="findDetailByBoardNo" parameterType="int"
		resultMap="boardResultMap">
		SELECT b.board_no, b.title, u.name, b.content, b.regdate FROM user u JOIN board b 
		ON u.user_no = b.writer WHERE board_no = #{boardNo};
	</select>
	<select id="findAttachByBoardNo" parameterType="int"
		resultMap="boardAttachResultMap">
		SELECT *FROM boardattach WHERE board_no = #{boardNo}
	</select>
	<update id="editBoard" parameterType="Board">
		UPDATE board SET title = #{title}, content = #{content} WHERE board_no = #{boardNo}
	</update>
	<update id="deleteBoard" parameterType="int">
		UPDATE board SET deleted = true WHERE board_no = #{boardNo};
	</update>
</mapper>